<location path="Default Web Site - Admin">
	<system.webServer>
			<security>
				<!-- this line blocks everybody, except those listed below -->                
				<ipSecurity allowUnlisted="false" denyAction="Unauthorized" enableProxyMode="true" enableReverseDns="true">
					<!-- removes all upstream restrictions -->            
					<clear />
					<add ipAddress="64.32.16.8" subnetMask="0.0.0.0" allowed="true" />
					<add ipAddress="10.20.30.40" subnetMask="255.0.0.0" allowed="true" />
					<add ipAddress="172.16.0.0" subnetMask="255.255.0.0" allowed="true" />
					<add ipAddress="192.168.0.0" subnetMask="255.255.255.0" allowed="true" />
					<add ipAddress="127.0.0.1" subnetMask="255.255.255.255" allowed="true" /> 
				</ipSecurity>
			</security>
	</system.webServer>
</location>



appcmd.exe set config "Default Web Site" -section:system.webServer/security/ipSecurity /enableReverseDns:true /commit:apphost